$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  3xl: 1600px,
  4xl: 1900px
);

body {
    background: red !important;
}
@include media-breakpoint-up(sm) {
    body {
        background: green !important;
    }
}
@include media-breakpoint-up(md) {
    body {
        background: blue !important;
    }
}
@include media-breakpoint-up(lg) {
    body {
        background: yellow !important;
    }
}
@include media-breakpoint-up(xl) {
    body {
        background: purple !important;
    }
}
@include media-breakpoint-up(xxl) {
    body {
        background: $color-primary !important;
    }
}
@include media-breakpoint-up(3xl) {
    body {
        background: $color-secondary !important;
    }
}
@include media-breakpoint-up(4xl) {
    body {
        background: $white !important;
    }
}