$grid-bp: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  3xl: 1600px,
  4xl: 1900px
) !default;

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint($name, $breakpoints: $grid-bp) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
        @content;
    }
    } @else {
        @content;
    }
}

body {
    background: red !important;
}
@include media-breakpoint(sm) {
    body {
        background: green !important;
    }
}
@include media-breakpoint(md) {
    body {
        background: blue !important;
    }
}
@include media-breakpoint(lg) {
    body {
        background: yellow !important;
    }
}
@include media-breakpoint(xl) {
    body {
        background: purple !important;
    }
}
@include media-breakpoint(xxl) {
    body {
        background: $color-primary !important;
    }
}
@include media-breakpoint(3xl) {
    body {
        background: $color-secondary !important;
    }
}
@include media-breakpoint(4xl) {
    body {
        background: $white !important;
    }
}